<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.easygo.monitor"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />


    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>


    <application
        android:name="com.easygo.monitor.main.EZOpenApplication"
        android:allowBackup="true"
        android:banner="@mipmap/ic_launcher"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <meta-data
            android:name="com.easygo.monitor.glide.EZOpenGlideModule"
            android:value="GlideModule"/>

        <activity
            android:name="com.easygo.monitor.view.avctivity.Welcome"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
                <!--<category android:name="android.intent.category.LEANBACK_LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name="com.videogo.main.EzvizWebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name="com.easygo.monitor.view.avctivity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <activity
            android:name="com.easygo.monitor.view.avctivity.SearchDeviceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name="com.easygo.monitor.view.avctivity.WiFiSelecteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name="com.easygo.monitor.view.avctivity.SmartConfigActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity
            android:name="com.easygo.monitor.view.avctivity.PlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_play"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.easygo.monitor.view.avctivity.PlayBackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.easygo.monitor.view.avctivity.ModifyNameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.easygo.monitor.view.avctivity.DeviceUpgradeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.easygo.monitor.view.avctivity.DeviceStartAddActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="com.easygo.monitor.view.avctivity.DeviceSettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false">
        </activity>
        <activity android:name="com.easygo.monitor.view.avctivity.AddDeviceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
        </activity>


        <!--预览-->
        <activity
            android:name="com.easygo.tv.activity.PreviewActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="com.easygo.tv.activity.PreviewWelcome"
            android:label="@string/title_activity_preview"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<action android:name="android.intent.action.VIEW"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
                <!--<category android:name="android.intent.category.LEANBACK_LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <!--直播-->
        <activity android:name="com.easygo.tv.activity.LiveStreamActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name="com.easygo.tv.activity.LiveStreamWelcome"
            android:label="@string/title_activity_live_stream"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity android:name="com.easygo.tv.mvp.base.BaseActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.easygo.tv.activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

    </application>

</manifest>